In [35]:
num = 123456

"__name__" current namespace. Namespace is basically the lookup table where the variable names are stored and the actual
memory is referred from.

In [36]:
__name__

'__main__'

In [37]:
dir() #it lists all the variables we have in current namespace

['In',
 'Out',
 '_',
 '_1',
 '_12',
 '_13',
 '_14',
 '_15',
 '_16',
 '_17',
 '_19',
 '_2',
 '_20',
 '_22',
 '_23',
 '_24',
 '_26',
 '_27',
 '_28',
 '_3',
 '_31',
 '_33',
 '_34',
 '_36',
 '_4',
 '_6',
 '_7',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'num',
 'os',
 'quit',
 'ss',
 'sys']

In [38]:
id(num) #returns the address

81697744

In [39]:
temp=num #Shallow Copy created. i.e. the two variables reffer to same location instead of creating another copy of the variable.

In [40]:
type(num) #returns the datatype of the variable. The datatype is stored with the variable in head

int

In [41]:
import sys
import os
sys.getrefcount(num) #reference pointers associated with the address at run time.

3

In [42]:
sys.getsizeof(num) #size occupied by the variable.

28

In [43]:
num = 56789 #new memory created for the value and the num variable now refers to the new location, the ref count is reduced for older reference

In [44]:
id(num)

81697488

In [45]:
id(temp)

81697744

In [46]:
xyz = 123456

In [47]:
id(xyz)

81696464

In [28]:
dir()

['In',
 'Out',
 '_',
 '_1',
 '_12',
 '_13',
 '_14',
 '_15',
 '_16',
 '_17',
 '_19',
 '_2',
 '_20',
 '_22',
 '_23',
 '_24',
 '_26',
 '_27',
 '_3',
 '_4',
 '_6',
 '_7',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'num',
 'os',
 'quit',
 'ss',
 'sys',
 'temp']

In [29]:
del(num) #Deletes the variable from namespace. ref count is reduced to 0

In [30]:
del(temp)

In [31]:
dir()

['In',
 'Out',
 '_',
 '_1',
 '_12',
 '_13',
 '_14',
 '_15',
 '_16',
 '_17',
 '_19',
 '_2',
 '_20',
 '_22',
 '_23',
 '_24',
 '_26',
 '_27',
 '_28',
 '_3',
 '_4',
 '_6',
 '_7',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'os',
 'quit',
 'ss',
 'sys']

In [48]:
print(sys.implementation) # - gives the version and implementation of current python

namespace(cache_tag='cpython-36', hexversion=50726384, name='cpython', version=sys.version_info(major=3, minor=6, micro=5, releaselevel='final', serial=0))

In [51]:
#Basic Input
variable  = input("whats the name: ") #Asks for the input from user. With the message
#Every thing is stored as string if given through the keyboard/console.

whats the name: Ramesh Singh

In [53]:
#Basic output
print("Hello: " + variable) #= print('Hello:', variable) 
# here the space is automatically added between the two strings

Hello: Ramesh Singh

In [54]:
#Variable interpolation is not supported. Only \n and \t are interpreted as newline and tab.

### Rules
 - Python is case sensitive
 - var names should be Lower case
 - '__name__' = inbuilt naming convention and 
 - '_name_' = inbuilt naming convention
 - avoid using inbuilt function name e.g. sum, min, max, type, id
 - Do not save program in the installation folder

In [56]:
num1=10
num1

10

In [57]:
num2=0b01010
num2

10

In [59]:
num3=0o1237
num3

671

In [60]:
num4 = 0xFFFF

In [61]:
oct(99)

'0o143'

In [62]:
hex(12898)

'0x3262'

In [63]:
bin(5)

'0b101'

In [64]:
data = "1111"
int(data)

1111

In [65]:
int(data, base=2)

15

##### String operations/functions
1. Define : a="bengaluru"
2. length : len(a)
3. first element : a[0]
4. last element : a[len(a)-1] or a[-1]
5. Alternate element starting from 0 : a[::2]
6. Alternate element starting from 1 : a[1::2]
7. Reverse of string : a[::-1]
8. first 4 : a[:4]
9. Except First 4 : a[4:]
10. last 4 : a[-4:]
11. Except Last 4 : a[:-4]
12. Except first x and except last y : a[x:-y]
13. upper : a.upper()
14. concatenation : c=a+b
15. replace SUBSTR : a.replace('blr', 'Bengaluru')
16. count substr occurance in string : a.count('SUBSTR')
17. search substr : substr in a
18. get index substr : a.index('substr') #gives index of starting point of substr
19. remove space/tab/new : a.strip()/a.lstrip()/a.rstrip()
20. split the string on a character : list = a.split(DELIMITER)
21. join the string : "delimiter".join(string_list)

In [66]:
a = 'bengaluru'
a[::-1] #Reverse the

'urulagneb'

In [67]:
a[-4:] #last 4 charaters

'luru'

In [68]:
a[:-4] #elements before last 4 character

'benga'

In [70]:
name = 'manisha'

print(name[0].upper() + name[1:])
print(name[0].upper() + name[1:-1] + name[-1].upper())
print(name[:2].upper() + name[2:-2] + name[-2:].upper())
print(name[:2] + name[2:].upper()[::-1])
print(name[:2] + name[:1:-1].upper())

Manisha
ManishA
MAnisHA
maAHSIN
maAHSIN

In [72]:
'alr' in a[::-1]

False

In [73]:
a = "hello how are you doing!"
a.split(" ")[0]

'hello'

In [82]:
a.split(" ")[-1]

'doing!'

In [83]:
a.split(" ")[0][-1]

'o'

In [84]:
a.split(" ")[-1][0]

'd'

In [85]:
a="math-10-soc-20-sci-30"
a.split("-")[1::2]

['10', '20', '30']

In [86]:
a="10-20-30-40-50-60"
a.split("-")[:3]

['10', '20', '30']

In [87]:
a.split("-")[3:]

['40', '50', '60']

In [88]:
a="south-Q1-15,20,30,22"
list1 = a.split("-")[-1].split(",")

In [89]:
list1 = [int(e) for e in list1] #Complrehension

# == map(int, list)
#Lambda function can also be used
sum(list1)

87

### Branching Statements
    . indentation makes the blocks
    else if = elif
    && = and
    || = or
    ! = not


#If string starts with "he"
if data.index("he")==0":
if data[0:2]=="he"
if data.startswith("he")

#does the data contain "imp" or "message"
if "imp" in data or "message" in data:

if word/string ends with VOWEL.
if data[-1] in "aeiou":

range(start, stop-1, sep)

range(start, stop-1)

range(stop-1)

##### range is not a function it a class

In [98]:
print(*range(4,19,4))
print(*range(6))
print(*range(5,0,-1))
print(*range(2,9,2))
print(*range(1,10,2))

list(range(6))

4 8 12 16
0 1 2 3 4 5
5 4 3 2 1
2 4 6 8
1 3 5 7 9

[0, 1, 2, 3, 4, 5]

In [80]:
var1 = int(input("Input a number:"))

Input a number:-2

In [81]:
if(var1 > 0):
    var1 = var1 +5
else:
    var1 = var1+10

print(var1)

8

In [ ]:
Iterator, Generator, Decorator

Iteration Protocol

- Process of traversing a collection
- moving on the collection
- whichever classes follows this protocol - iterable/iterator

We should know where to start
how to move
where to stop :- signaled by StopIteration exception

Iterable are the objects in which the data is stored and iterators are the objects which allows accessing the element from iterable. Iterators are only forward moving.

iterable doesn't support __next__() but support indexing

range returns an iterable and iterator is used to read the data.

Method 1:
- Constant Iterator - forward iterator

In [12]:
it1 = iter([10,20,30,40,50]) #iter is forward iterator
it1

In [13]:
#Forward iterator
print(next(it1))
print(next(it1))
print(next(it1))
print(next(it1))
print(next(it1))
print(next(it1))
#note below the exception is an stopIteration

10
20
30
40
50

StopIteration:

In [112]:
it1 = iter([10,20,30,40,50])
print(*it1)

In [110]:
it1 = iter([10,20,30,40,50])
alist = list(it1)
alist

In [114]:
it1 = iter([10,20,30,40,50, 60, 70, 80])

In [115]:
next(it1)
next(it1)
list(it1)

[30, 40, 50, 60, 70, 80]

Method 2:
- Constant forward iterator - parallel iterators - Operates to the smallest walker 
- has read only access to the collection
- fastest way

In [120]:
numlst = [10,20,30,40,50]

In [121]:
for x in numlst:
    res = x * x
    print("Hi = ", x, res)

Hi =  10 100
Hi =  20 400
Hi =  30 900
Hi =  40 1600
Hi =  50 2500

In [123]:
alst = [10, 20, 30, 40, 50]
blst = [1,2,3,4,5,8,9,11]

for x, y in zip(alst, blst):
    print(x,y)

10 1
20 2
30 3
40 4
50 5

Method 3:
- Index based Iterator
- read-write
- bit-slow

In [125]:
numlst = [10,20,30,40,50]

for i in range(len(numlst)):
    numlst[i] = numlst[i] * 2

print(numlst)

[20, 40, 60, 80, 100]

In [130]:
prodlst = ["dvd-20","cd-30", "prn-25","keb-10","mon-5"]
total = 0
for item in prodlst:
    total = total + int(item.split("-")[1])

print("Total = ", total)

90

- Empty list definition : var1 = []
- length of list : len(var1)
- search x in list : if x in var1
- append anything to list : var1.append("value")
- extend list : a.extend([v1,v2,v3])
- insert x element at index i : var1.insert(i,x)
- delete and get the element at an index : var1.pop(index)
- a.remove('value') #remove 1st occurance of value
- del(a[i]) - deletes the index
- sort - a.sort() / a.sort(reverse = True)
- a.reverse() - reverses the list
- sum/min/max of list - sum(x)/min(x)/max(x)

In [1]:
saleslst = ["north-20-50-30-44",
           "south-43-65-34-76",
           "east-88-67-37-76",
           "west-48-34-98-31"]
list_out = []
for x in saleslst:
    lst = x.split("-")
    qtlst = [int(s) for s in lst[1:]]
    print(lst[0],"best sales -", max(qtlst))
    list_out.append(max(qtlst))

print(max(list_out))

north best sales - 50
south best sales - 76
east best sales - 88
west best sales - 98
98

In [27]:
list_out = []
for x in saleslst:
    zone,*lst = x.split("-")
    qtlst = max([int(s) for s in lst])
    print(zone,"best sales -", qtlst)
    list_out.append( zone + "-" + str(qtlst))

print(list_out)
#use custom sorts
#interpolation datatypes are not implicit

north best sales - 50
south best sales - 76
east best sales - 88
west best sales - 98
['north-50', 'south-76', 'east-88', 'west-98']

In [15]:
#display each student name and total marks

studlst = ["arun-math,10-sci,25-soc,30",
          "varun-math,40-sci,35-soc,60"]

name = ""
total = 0

for x in studlst:
    total = 0
    templst = x.split(',')
    name = templst[0].split("-")[0]
    for y in templst[1:]:
        total = total + int(y.split("-")[0])
    print(name, "scored",  total)

arun scored 65
varun scored 135

In [17]:
for x in studlst:
    x = x.replace(",", "-")
    name,*marks = x.split("-")
    print(name, sum(int(e) for e in marks[1::2]))

arun 65
varun 135

In [11]:
list_out.sort(reverse=True)
print(list_out)

[98, 88, 76, 50]